/* Font */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Poppins:wght@400;600&display=swap');

/* Colors */

:root{
    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --dark-gray : #171f33;
    --yellow : #f3c74d;
}

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

}

body{
    font-family: 'IBM Plex Sans' , sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    height: 5000px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background: var(--primary);
    padding: 1.6rem 0 ;
}

nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

